---
interface Props extends astroHTML.JSX.SVGAttributes {
  /** Hex, CSS color, or theme token e.g. "var(--color-accent-red)" */
  primaryColor?: string;
  secondaryColor?: string;
}

const {
  primaryColor = "#7D0F03",
  secondaryColor = "#004E71",
  ...props
} = Astro.props;
---

<svg
  width="560"
  height="276"
  viewBox="0 0 560 276"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  {...props}
>
  <title>Confederation College Logo (Vertical)</title>
  <path
    d="M136.365 249.749C134.804 248.947 132.166 248.04 129.676 248.04C123.028 248.04 118.238 252.471 118.238 259.477C118.238 266.779 123.535 271.084 129.866 271.084C132.356 271.084 134.656 270.43 136.365 269.543L138.159 273.363C136.175 274.46 132.715 275.473 129.57 275.473C118.365 275.473 111.295 268.446 111.295 259.393C111.295 250.994 118.301 243.65 129.655 243.65C133.031 243.65 136.154 244.79 138.37 246.014L136.365 249.749Z"
    fill={primaryColor}></path>
  <path
    d="M165.34 259.119C165.34 250.509 172.177 243.65 181.441 243.65C190.705 243.65 197.542 250.509 197.542 259.119C197.542 268.298 191.359 275.473 181.441 275.473C171.523 275.473 165.34 268.298 165.34 259.119ZM190.621 259.119C190.621 253.442 187.899 248.04 181.441 248.04C174.984 248.04 172.261 253.442 172.261 259.119C172.261 265.006 174.667 271.084 181.441 271.084C188.215 271.063 190.621 265.006 190.621 259.119Z"
    fill={primaryColor}></path>
  <path
    d="M226.515 244.157H233.014V270.789H245.845V274.925H226.515V244.157Z"
    fill={primaryColor}></path>
  <path
    d="M273.533 244.157H280.032V270.789H292.863V274.925H273.533V244.157Z"
    fill={primaryColor}></path>
  <path
    d="M337.895 248.294H327.048V256.735H337.663V260.871H327.048V270.81H339.878V274.946H320.548V244.157H337.895V248.294Z"
    fill={primaryColor}></path>
  <path
    d="M395.886 260.87V273.574C392.425 274.671 388.774 275.473 385.102 275.473C373.939 275.473 366.87 268.446 366.87 259.393C366.87 250.994 373.876 243.65 385.271 243.65C388.816 243.65 392.383 244.706 394.493 246.014L392.425 249.665C390.673 248.778 387.951 248.04 385.461 248.04C378.539 248.04 373.791 252.471 373.791 259.477C373.791 266.779 379.236 271.084 384.807 271.084C386.558 271.084 387.993 270.915 389.365 270.324V260.87H395.886Z"
    fill={primaryColor}></path>
  <path
    d="M444.294 248.294H433.447V256.735H444.062V260.871H433.447V270.81H446.278V274.946H426.948V244.157H444.294V248.294Z"
    fill={primaryColor}></path>
  <path
    d="M0 174.561C0 195.516 14.2654 208.537 37.225 208.537C42.8594 208.537 47.8185 207.545 51.9757 205.582L52.2501 205.456L58.2432 191.76L55.7742 193.005C51.0894 195.706 43.8301 198.935 35.8955 198.935C20.7017 198.935 12.5138 185.64 12.5138 173.126C12.5138 159.726 21.3558 150.378 33.9963 150.378C39.7995 150.378 45.7294 152.214 51.1738 155.717L52.44 156.54V143.351L51.8069 143.203C44.9274 141.557 39.3564 140.797 34.2706 140.797C14.0965 140.776 0 154.662 0 174.561Z"
    fill={secondaryColor}></path>
  <path
    d="M60.1426 184.733C60.1426 198.259 70.8627 208.452 85.0648 208.452C99.4567 208.452 110.747 197.647 110.747 183.867C110.747 177.241 107.729 170.594 102.664 166.099C98.1906 162.153 92.8094 160.232 86.2254 160.232C71.0948 160.232 60.1426 170.53 60.1426 184.733ZM71.3903 183.002C71.3903 174.434 77.1724 168.209 85.1492 168.209C94.983 168.209 99.4567 177.368 99.4567 185.872C99.4567 194.334 93.5902 200.475 85.529 200.475C76.3494 200.475 71.3903 191.464 71.3903 183.002Z"
    fill={secondaryColor}></path>
  <path
    d="M124.147 160.338C122.311 161.393 120.18 161.477 118.175 161.477H109.438L112.14 163.313C115.453 165.212 115.411 167.85 115.368 171.501L115.347 172.936V195.748L115.368 197.183C115.432 200.855 115.453 203.492 112.161 205.37L109.438 206.911L112.562 207.206H131.596L128.874 205.37C125.561 203.492 125.603 201.023 125.666 197.267L125.687 195.832V178.887C125.687 171.416 128.473 168.209 134.973 168.209C142.675 168.209 145.672 172.324 145.672 182.917V195.832L145.693 197.246C145.756 200.855 145.777 203.492 142.485 205.37L139.763 206.911L142.886 207.206H161.921L159.198 205.37C155.885 203.492 155.928 201.023 155.97 197.288L155.991 195.853V180.786C156.012 176.397 156.054 170.931 153.459 167.217C149.977 162.068 143.118 160.253 138.307 160.253C133.158 160.253 129.212 162.216 125.687 166.246C125.687 164.073 125.687 159.641 125.687 159.641L124.147 160.338Z"
    fill={secondaryColor}></path>
  <path
    d="M187.138 140.501C181.946 140.501 174.56 141.177 169.538 146.917C165.972 150.947 165.803 154.07 165.803 158.565C165.803 158.797 165.803 161.604 165.803 162.047C165.486 162.469 160.19 169.475 160.19 169.475C160.19 169.475 164.663 169.475 165.803 169.475C165.803 171.037 165.803 195.854 165.803 195.854C165.803 195.854 165.824 198.133 165.824 198.534C165.824 201.509 165.486 203.725 162.595 205.371L159.873 206.911L162.996 207.207H179.372L179.752 205.371C176.417 203.598 176.08 199.483 176.08 195.495C176.08 194.967 176.101 192.477 176.101 192.477C176.101 192.477 176.101 170.995 176.101 169.454C177.473 169.454 184.415 169.454 184.415 169.454C185.956 169.454 186.737 169.771 187.243 170.594L188.763 173.084L189.058 170.172V160.57L187.665 160.971L186.04 161.562C186.04 161.562 177.515 161.52 176.101 161.52C176.101 160.275 176.101 156.012 176.101 156.012C176.101 150.124 177.388 148.499 182.031 148.499C183.782 148.499 184.985 149.048 186.441 149.998L187.032 150.377L195.283 141.24L187.159 140.523C187.159 140.501 187.138 140.501 187.138 140.501Z"
    fill={secondaryColor}></path>
  <path
    d="M188.849 184.057C188.849 198.175 200.687 208.452 217.021 208.452C222.085 208.452 226.622 207.629 230.484 205.983L230.758 205.877L235.654 196.613L234.135 195.579C230.062 198.787 224.829 200.475 219.025 200.475C208.411 200.475 201.426 193.891 200.877 183.635C202.608 183.635 235.739 183.635 235.739 183.635L235.76 182.833C235.76 182.58 235.781 182.306 235.781 182.053C235.781 176.144 233.692 170.742 229.872 166.774C225.799 162.554 219.996 160.232 213.518 160.232C198.978 160.232 188.849 170.024 188.849 184.057ZM212.631 168.209C218.899 168.209 222.592 171.037 223.816 176.418C221.895 176.418 203.536 176.418 201.51 176.418C202.903 171.375 207.018 168.209 212.631 168.209Z"
    fill={secondaryColor}></path>
  <path
    d="M284.147 141.345C283.345 142.527 281.277 142.527 279.293 142.527H269.797L272.392 144.363C275.305 146.093 275.642 148.225 275.642 151.263C275.642 151.685 275.621 154.007 275.621 154.007C275.621 154.007 275.621 162.553 275.621 165.022C271.654 162.026 266.737 160.253 261.778 160.253C248.441 160.253 238.375 170.657 238.375 184.458C238.375 198.807 248.378 208.451 263.297 208.451C265.07 208.451 266.758 208.451 268.488 207.945L268.784 207.86L274.566 198.976L273.448 197.816C270.514 199.673 268.193 200.453 265.682 200.453C256.692 200.453 249.644 192.835 249.644 183.086C249.644 174.877 255.468 168.188 262.622 168.188C267.771 168.188 272.097 170.593 274.186 174.645C275.684 177.599 275.642 181.102 275.621 184.479V185.85V207.185H291.955L289.127 205.349C285.835 203.534 285.856 200.897 285.919 197.225L285.94 195.811V139.15L284.147 141.345Z"
    fill={secondaryColor}></path>
  <path
    d="M289.823 184.057C289.823 198.175 301.662 208.452 317.995 208.452C323.06 208.452 327.576 207.629 331.459 205.983L331.733 205.877L336.629 196.613L335.109 195.579C331.037 198.787 325.803 200.475 319.979 200.475C309.385 200.475 302.379 193.891 301.831 183.635C303.561 183.635 336.692 183.635 336.692 183.635L336.713 182.833C336.713 182.58 336.734 182.306 336.734 182.053C336.734 176.144 334.645 170.742 330.826 166.774C326.753 162.554 320.928 160.232 314.45 160.232C299.952 160.232 289.823 170.024 289.823 184.057ZM313.606 168.209C319.852 168.209 323.545 171.037 324.769 176.418C322.849 176.418 304.511 176.418 302.485 176.418C303.899 171.375 307.993 168.209 313.606 168.209Z"
    fill={secondaryColor}></path>
  <path
    d="M350.915 160.444C349.797 161.414 347.602 161.499 345.639 161.499H336.502L339.14 163.314C342.368 165.192 342.326 167.661 342.263 171.396L342.242 172.852V195.748L342.263 197.183C342.326 200.834 342.347 203.493 339.034 205.371L336.312 206.912L339.435 207.207H358.47L355.748 205.371C352.434 203.493 352.477 200.834 352.519 197.162L352.54 195.748V182.327C352.54 173.063 355.199 169.455 362.015 169.455C362.986 169.455 364.779 169.623 365.771 170.721L367.206 172.303V160.591C367.206 160.591 363.028 160.233 363.007 160.233C358.871 160.233 355.072 162.343 352.519 165.635C352.519 163.504 352.519 159.262 352.519 159.262L350.915 160.444Z"
    fill={secondaryColor}></path>
  <path
    d="M378.982 160.823L378.581 160.865L370.33 173.232L373.2 171.881C377.399 169.918 381.008 168.209 385.629 168.209C388.963 168.209 393.944 169.623 393.944 173.506C393.944 177.347 388.963 178.296 383.181 179.394C375.289 180.892 365.455 182.749 365.455 193.532C365.455 202.163 372.651 208.452 382.548 208.452L388.014 207.924L388.162 207.65C388.162 207.65 394.049 200.116 394.218 199.905C395.674 207.65 404.263 208.262 407.28 208.452L407.766 208.473L412.978 200.623L411.628 200.475C404.558 199.715 404.263 197.668 404.263 190.008V175.637C404.157 161.836 393.353 160.253 385.249 160.253C385.165 160.232 378.982 160.823 378.982 160.823ZM376.724 193.448C376.724 188.383 381.008 187.413 385.524 186.379C385.819 186.315 386.22 186.21 386.22 186.21C388.858 185.577 391.496 184.817 393.944 183.741C393.944 185.788 393.944 197.668 393.944 197.668C393.944 198.112 394.049 198.428 394.091 198.829C393.5 198.998 392.91 199.167 392.91 199.167C390.715 199.8 388.457 200.475 386.283 200.475C383.413 200.475 376.724 199.779 376.724 193.448Z"
    fill={secondaryColor}></path>
  <path
    d="M423.34 147.191H418.697V148.014C418.697 158.185 415.511 163.081 408.041 164.347L407.365 164.453V169.433C407.365 169.433 412.599 169.433 413.844 169.433C413.844 170.952 413.844 188.531 413.844 188.531L413.823 189.396C413.823 189.839 413.802 190.346 413.802 190.915C413.802 194.608 414.202 200.791 418.064 204.716C420.449 207.164 423.825 208.409 428.088 208.409L431.697 207.84L431.781 207.586L438.534 198.491L435.854 199.525C434.672 199.989 433.554 200.411 432.372 200.411C429.755 200.411 427.75 199.715 426.421 198.343C424.374 196.233 424.1 192.836 424.1 190.24C424.1 189.712 424.1 189.227 424.121 188.784L424.142 187.75C424.142 187.75 424.142 170.931 424.142 169.433C425.345 169.433 429.671 169.433 429.671 169.433C431.844 169.412 434.102 169.391 435.242 170.91L436.719 172.873L436.993 170.425V160.253L435.453 161.013C434.693 161.477 433.406 161.477 432.266 161.477C432.266 161.477 425.492 161.477 424.142 161.477C424.142 160 424.142 147.191 424.142 147.191H423.34Z"
    fill={secondaryColor}></path>
  <path
    d="M453.242 160.169C451.87 161.393 449.697 161.498 447.586 161.498H438.681L441.382 163.334C444.695 165.234 444.653 167.703 444.611 171.438L444.59 172.873V195.769L444.611 197.183C444.653 200.855 444.695 203.493 441.382 205.392L438.681 206.932L441.804 207.228H460.839L458.117 205.392C454.804 203.514 454.846 200.855 454.909 197.204L454.93 195.769V158.966L453.242 160.169Z"
    fill={secondaryColor}></path>
  <path
    d="M444.337 150.229C444.337 154.239 447.418 157.383 451.343 157.383C454.952 157.383 457.885 154.302 457.885 150.525C457.885 146.79 454.952 143.751 451.343 143.751C447.988 143.751 444.337 146.241 444.337 150.229Z"
    fill={secondaryColor}></path>
  <path
    d="M459.678 184.733C459.678 198.259 470.398 208.452 484.621 208.452C499.035 208.452 510.303 197.647 510.303 183.867C510.303 177.241 507.286 170.594 502.221 166.099C497.726 162.153 492.345 160.232 485.761 160.232C470.652 160.232 459.678 170.53 459.678 184.733ZM470.947 183.002C470.947 174.434 476.729 168.209 484.706 168.209C494.54 168.209 499.035 177.368 499.035 185.872C499.035 194.334 493.168 200.475 485.086 200.475C475.906 200.475 470.947 191.464 470.947 183.002Z"
    fill={secondaryColor}></path>
  <path
    d="M522.269 160.338C520.433 161.393 518.301 161.477 516.297 161.477H507.581L510.282 163.313C513.595 165.213 513.553 167.85 513.49 171.501L513.469 172.936V195.748L513.49 197.183C513.532 200.855 513.574 203.493 510.282 205.371L507.56 206.911L510.683 207.207H529.718L526.996 205.371C523.682 203.493 523.725 201.024 523.767 197.289L523.788 195.854V178.908C523.788 171.438 526.552 168.23 533.052 168.23C540.754 168.23 543.751 172.345 543.751 182.939V195.854L543.772 197.267C543.835 200.876 543.857 203.493 540.565 205.371L537.842 206.911L540.966 207.207H560L557.278 205.371C553.965 203.472 554.007 201.003 554.049 197.246L554.07 195.832V180.744C554.091 176.355 554.112 170.91 551.538 167.196C548.056 162.047 541.198 160.232 536.386 160.232C531.237 160.232 527.291 162.195 523.767 166.225C523.767 164.052 523.767 159.62 523.767 159.62L522.269 160.338Z"
    fill={secondaryColor}></path>
  <path
    d="M265.935 31.3377C246.352 22.1581 220.585 36.0014 208.409 62.2319C204.189 71.306 202.163 80.6756 202.1 89.4332C202.712 87.7239 203.387 86.0357 204.168 84.3475C214.635 61.7888 236.792 49.8869 253.653 57.7793C270.514 65.6717 275.663 90.3617 265.196 112.92C264.416 114.609 263.55 116.233 262.643 117.795C269.29 112.118 275.136 104.543 279.356 95.4474C291.554 69.238 285.539 40.5173 265.935 31.3377Z"
    fill={primaryColor}></path>
  <path
    d="M351.59 62.2319C339.414 36.0014 313.648 22.1581 294.064 31.3377C274.46 40.5173 268.467 69.2169 280.643 95.4685C284.864 104.543 290.688 112.14 297.335 117.816C296.428 116.255 295.584 114.63 294.803 112.941C284.315 90.3828 289.485 65.6927 306.346 57.8004C323.207 49.908 345.344 61.8099 355.832 84.3686C356.612 86.0568 357.288 87.745 357.9 89.4543C357.858 80.6756 355.811 71.306 351.59 62.2319Z"
    fill={primaryColor}></path>
  <path
    d="M279.99 0C273.448 0 268.172 5.84542 268.172 13.0836C268.172 20.3007 273.469 26.1461 279.99 26.1461C286.532 26.1461 291.807 20.3007 291.807 13.0836C291.828 5.84542 286.532 0 279.99 0Z"
    fill={primaryColor}></path>
  <path
    d="M256.038 75.2729C253.991 68.6889 247.217 65.5024 240.886 68.1613C234.556 70.8203 231.074 78.3328 233.1 84.9168C235.147 91.5008 241.92 94.6873 248.272 92.0284C254.603 89.3483 258.085 81.8569 256.038 75.2729Z"
    fill={primaryColor}></path>
  <path
    d="M318.523 68.2664C312.193 65.6075 305.398 68.7729 303.351 75.3569C301.304 81.9409 304.807 89.4324 311.138 92.1124C317.468 94.7713 324.263 91.5848 326.289 85.0008C328.336 78.4168 324.854 70.9254 318.523 68.2664Z"
    fill={primaryColor}></path>
</svg>
